@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --main-bg-color: white;
    --main-fg-color: black;
    --main-md-color: #EEEEEE;
    --main-font-family: monospace;
    --main-font-size: 14px;
    --main-line-height: 18px;
    /* --main-font-family: 'Roboto'; */
    /* --main-font-size: 16px; */
    /* --main-line-height: 22px; */
}

body {
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    background: var(--main-bg-color);
    color: var(--main-fg-color);
}

.mec-main {
    margin-left: auto;
    margin-right: auto;
}

/* links */

a:focus {
    outline: 0;
}

a {
    color: #4C72B0;
    text-decoration: none;
}

a:visited {
    color: #4C72B0;
}

/* title */

.mec-name-box {
    border-top: 2px solid var(--main-fg-color);
    border-bottom: 2px solid var(--main-fg-color);
}

.mec-name-text {
    font-size: 20px;
}

.mec-title-box {
    font-size: 20px;
    border-bottom: 1px solid var(--main-fg-color);
    padding-left: 1px;
    padding-right: 1px;
}

.cv {
    margin-left: 1px;
    color: var(--main-fg-color);
    margin-right: 5px;
}

.twitter {
    position: relative;
    top: 2px;
    left: -2px;
    margin-right: 2px;
    height: 18px;
}

.github {
    position: relative;
    top: 2px;
    left: -2px;
    margin-right: 2px;
    height: 18px;
}

.mec-title-text {
}

.mec-title-right {
    float: right;
}

.mec-portrait-box {
}

.mec-portrait-box > img {
    width: 100%;
    opacity: 80%;
}

/* paper list */

.paper-list-title {
    font-size: 16px;
    border-bottom: 1px dashed var(--main-fg-color);
}

.paper {
    margin-top: 10px;
}

.paper.expand {
    cursor: pointer;
}

.paper > .popup {
    display: none;
    margin: 0;
    padding: 5px;
    text-align: left;
    font-size: 14px;
    line-height: 120%;
}

.paper.expanded {
    margin: 7px -3px -3px -3px;
    padding: 3px;
    background-color: var(--main-md-color);
    border-radius: 3px;
}

/* projects */

.project-title {
    border-bottom: 1px dashed var(--main-fg-color);
}

.img-responsive {
    width: 85%;
}

/* courses */

.course-title {
    border-bottom: 1px dashed var(--main-fg-color);
}

.course > p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* mobile only rules */

@media (max-width: 700px) {
    body {
        margin: 0px;
    }

    .img-responsive {
        width: 100%;
    }

    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .mec-main {
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .mec-bio-box {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .mec-title-box {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .paper-list {
        margin-top: 15px;
    }

    .project {
        margin-top: 15px;
    }

    .course {
        margin-top: 15px;
    }
}

/* non-mobile rules */

@media (min-width: 700px) {
    body {
        padding: 0;
        margin: 0;
    }

    .mec-main {
        max-width: 750px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .mec-bio-box {
        float: left;
        width: 180px;
        position: fixed;
        top: 59px;
    }

    .mec-content-box {
      float: right;
      max-width: 520px;
      margin-bottom: 50px;
    }

    .mec-name-box {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .mec-stats-box {
    }

    .mec-greetings {
        margin-top: 20px;
    }

    .mec-stats-line {
        font-size: 20px;
    }

    .mec-title-box {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .paper-list {
        margin-top: 30px;
    }

    .project {
        margin-top: 30px;
    }

    .course {
        margin-top: 30px;
    }
}
